
<script>
  tabs(".tabsacademic");
</script>
<div class="tabsacademic nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab1" type="server" data="@routes.Application.academicPages("year", "")"><i class="icon-arrow-down"></i>
            Year</a>
        </li>
        <li><a data-toggle="tab" href="#tab8" type="server" data="@routes.Application.academicPages("campus", "")"><i class="icon-arrow-down"></i>
            Campuses</a>
        </li>
        <li><a data-toggle="tab" href="#tab4" type="server" data="@routes.Application.academicPages("program", "")"><i class="icon-arrow-down"></i>
            Programs</a>
        </li>
        <li><a data-toggle="tab" href="#tab3" type="server" data="@routes.Application.academicPages("sMode", "")"><i class="icon-arrow-down"></i>
           Study modes</a>
        </li>
        <li><a data-toggle="tab" href="#tab6" type="server" data="@routes.Application.academicPages("session", "")"><i class="icon-arrow-down"></i>
            Sessions</a>
        </li>
        <li><a data-toggle="tab" href="#tab2" type="server" data="@routes.Application.academicPages("intake", "")"><i class="icon-arrow-down"></i>
           Intakes</a>
        </li>
        <li><a data-toggle="tab" href="#tab7" type="server" exclude="true" data="@routes.Application.academicPages("day", "")"><i class="icon-arrow-down"></i>
            Days</a>
        </li>
        <li>
            <a data-toggle="tab" href="#tab9" type="server" data="@routes.Application.academicPages("hours", "")"><i class="icon-arrow-down"></i>
                Hours</a>
        </li>
        <li>
            <a data-toggle="tab" href="#tab10" type="server" exclude="true" data="@routes.Application.academicPages("dateRange", "")"><i class="icon-arrow-down"></i>
                Date range</a>
        </li>

    </ul>
    <div class="tab-content">
        <div id="tab0" class="tab-pane active"></div>
        <div id="tab1" class="tab-pane">
    </div>

        <div id="tab2" class="tab-pane">
    </div>

        <div id="tab3" class="tab-pane">
    </div>

        <div id="tab4" class="tab-pane">
    </div>

        <div id="tab5" class="tab-pane">
    </div>
        <div id="tab6" class="tab-pane">
    </div>
        <div id="tab7" class="tab-pane">
    </div>

        <div id="tab8" class="tab-pane">
    </div>
        <div id="tab9" class="tab-pane">
    </div>
        <div id="tab10" class="tab-pane">
    </div>
    </div>
</div>
