<div align="center">
    <form  class="loginForm"method="POST"action="@routes.Application.updateCumulativeCGPA()" enctype="multipart/form-data" onsubmit="return allForms(this)">
        <style>
        .my-box{
            position: relative;
            border-radius: 3px;
            background: #ffffff;
            border-top: 3px solid #d2d6de;
            margin-bottom: 20px;
            width: 170%;
            margin-left: -35% !important;
        }
    </style>
        <div class="my-box box-info center-block">
            <div class="my-box text-left resp-width">
                <h3 class="box-title"><i class="fa fa-cogs"></i>Cumulative grade point average (CGPA) </h3>
                <h6><i>(Cumulative grade point average (CGPA))</i></h6>
            </div>
            <div  style="text-align: left !important; width: 170% !important; margin-left: -35% !important;">
                <table class="table table-bordered">
                    <tr>
                        <th>Marks</th>
                        <th>Grade</th>
                        <th>Grade Point (GP)</th>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().aMin - @ProfileInfo.unique().aMax</td>
                        <td>A</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointA" value="@ProfileInfo.unique().gradePointA"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().bPlusMin - @ProfileInfo.unique().bPlusMax</td>
                        <td>B+</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointBplus" value="@ProfileInfo.unique().gradePointBplus"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().bMin - @ProfileInfo.unique().bMax</td>
                        <td>B</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointB" value="@ProfileInfo.unique().gradePointB"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().cPlusMin - @ProfileInfo.unique().cPlusMax</td>
                        <td>C+</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointCplus" value="@ProfileInfo.unique().gradePointCplus"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().cMin - @ProfileInfo.unique().cMax</td>
                        <td>C</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointC" value="@ProfileInfo.unique().gradePointC"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().dMin - @ProfileInfo.unique().dMax</td>
                        <td>D</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointD" value="@ProfileInfo.unique().gradePointD"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().eMin - @ProfileInfo.unique().eMax</td>
                        <td>E</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointE" value="@ProfileInfo.unique().gradePointE"/></td>
                    </tr>
                    <tr>
                        <td>@ProfileInfo.unique().fMin - @ProfileInfo.unique().fMax</td>
                        <td>F</td>
                        <td><input style="width: 40px !important;" type="text" name="gradePointF" value="@ProfileInfo.unique().gradePointF"/></td>
                    </tr>
                </table>
            </div>
            <div class="box-footer clearfix">
                <button type="submit" class="btn-block btn btn-warning"> Update settings
                    <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>
    </form>
</div>

