
<script>
        tabs(".tabs-evaluation");
</script>
<div class="tabs-evaluation nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab1" type="server" exclude="true" data="@routes.Application.academicPages("ev_category", "")"><i class="icon-arrow-down"></i>
            Question categories</a>
        </li>
        <li><a data-toggle="tab" href="#tab1" type="server" exclude="true" data="@routes.Application.academicPages("ev_question", "")"><i class="icon-arrow-down"></i>
            Questions</a>
        </li>


    </ul>
    <div class="tab-content">
        <div id="tab0" class="tab-pane active"></div>
        <div id="tab1" class="tab-pane">
        </div>

    </div>
</div>
