@(user : Users)
<div class="loginForm" id="form1" no-prop="true">
    <div class="box box-info">
        <div class="box-header text-left resp-width with-border">
            <i class="fa fa-calendar"></i>
            <h3 class="box-title">Are you sure to hash password ?</h3>
        </div>
        <form action="@routes.UpdateForm.hashPassword(user.id)" method="POST" onsubmit="return allForms(this)">
            <div class="box-footer clearfix">
                <input type="hidden" name="password" value="@user.password">
                <button type="submit" class="pull-right btn btn-default"> Confirm
                    <i class="glyphicon glyphicon-ok-circle"></i></button>
            </div>
        </form>
    </div>
</div>