<script>
        tabs(".tabsmore");
</script>
<div class="tabsmore nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab1" type="server" exclude="true" data="@routes.Application.academicPages("assign_pro", "")"><i class="icon-arrow-down"></i>
          Assign programs</a>
        </li>
        <li><a data-toggle="tab" href="#tab8" type="server" exclude="true" data="@routes.Application.academicPages("assign_mode", "")"><i class="icon-arrow-down"></i>
          Assign study modes</a>
        </li>
        <li><a data-toggle="tab" href="#tab4" type="server" exclude="true" data="@routes.Application.academicPages("assign_session", "")"><i class="icon-arrow-down"></i>
        Assign sessions</a>
        </li>
        <li><a data-toggle="tab" href="#tab5" type="server" exclude="true" data="@routes.Application.academicPages("assign_intake", "")"><i class="icon-arrow-down"></i>
           Assign intakes</a>
        </li>
        <li><a data-toggle="tab" href="#tab6" type="server" exclude="true" data="@routes.Application.academicPages("assign_day", "")"><i class="icon-arrow-down"></i>
         Assign study days</a>
        </li>


        <li>
            <a data-toggle="tab" href="#tab7" type="server" exclude="true" data="@routes.Application.academicPages("assign_hours", "")"><i class="icon-arrow-down"></i>
              Assign hours</a>
        </li>

        <li class="pull-right"><span href="#tab0" class="text-muted" style="padding: 10px 15px;
            display: block"
        ><i class="fa fa-gear"></i></span>
        </li>

    </ul>
    <div class="tab-content">
        <div id="tab0" class="tab-pane active"></div>
        <div id="tab1" class="tab-pane">
        </div>

        <div id="tab2" class="tab-pane">
        </div>

        <div id="tab3" class="tab-pane">
        </div>

        <div id="tab4" class="tab-pane">
        </div>

        <div id="tab5" class="tab-pane">
        </div>
        <div id="tab6" class="tab-pane">
        </div>
        <div id="tab7" class="tab-pane">
        </div>

        <div id="tab8" class="tab-pane">
        </div>
        <div id="tab9" class="tab-pane">
        </div>
    </div>
</div>
