@( campuses : List[Campus] )
@import scala.Predef; var x = 0;var p = 0;var xp = 0;var m=0;
<div align="right"  class="left-form">
    <button id="meBut" class="btn btn-primary" onclick="addNew(this,event)"><i class="fa fa-plus"></i> New room</button>
    <div class="loginForm" id="form1" no-prop="true">
        <form action="@routes.Registration.saveRoom()" method="POST" onsubmit="return allForms(this)" enctype="multipart/form-data">
            <div class="box box-info">
                <div class="box-header text-left resp-width with-border">
                    <i class="fa fa-envelope"></i>
                    <h3 class="box-title">Add new room</h3>
                </div>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <select name="camp" class="form-control">
                            <option value="">-- Choose Campus --</option>
                            @for( i <- campuses ){
                                <option value="@i.id">@i.campusName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" name="roomName" max="3000" placeholder="Enter room name"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" name="roomCode" max="3000" placeholder="Enter room code"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="flowNumber" number="true" max="3000" placeholder="Enter flowNumber"/>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="numberSeat" number="true" autocomplete="off" max="3000" placeholder="Enter number of seat"/>
                    </div>
                    <div class="form-group has-feedback">
                        <select name="roomType" class="form-control">
                            <option value="">-- Choose room type --</option>
                            <option value="lab">Computer lab </option>
                            <option value="hall">Main hall</option>
                            <option value="class">Class</option>
                        </select>
                      </div>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-default">Save room
                        <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">Available rooms</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Room code</th>
                        <th>Room name</th>
                        <th>Campus</th>
                        <th>Flow number</th>
                        <th>Number seat</th>
                        <th>Room type</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                @for( ip <- campuses ){
                    @( x = 0 )
                    @for( i <- ip.myRooms() ) {
                        <tr>
                            @if( x == 0 ){
                                <td rowspan="@ip.myRooms().size()">@ip.campusName</td>
                                @( x = x + 1 )
                            }
                            <td>@i.roomCode</td>
                            <td>@i.roomName</td>
                            <td>@i.flowNumber</td>
                            <td>@i.numberSeat</td>
                            <td>@i.roomType</td>
                            <td>
                                <button class="btn btn-info btn-sm btn-circle" href="@routes.Application.updateAll(i.id, "room")" onclick="return createModal(this, self.event);"><i class="fa fa-pencil"></i></button>
                        </td>
                            <td><button class="btn btn-danger btn-sm btn-circle" onclick="createDel(this)" value="@routes.Application.deleteAll(i.id, "room")"><i class="fa fa-bitbucket"></i></button></td>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    </div>
</div>


