<script>
        tabs(".tabsacademic-mermit");
</script>
<div class="tabsacademic-mermit nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#tab1" type="server" data="@routes.Application.academicPages("permission", "")"><i class="icon-arrow-down"></i>
            Trainings </a>
        </li>
        <li class="pull-right"><span href="#tab0" class="text-muted" style="padding: 10px 15px;
            display: block"
        ><i class="fa fa-gear"></i></span>
        </li>
    </ul>
    <div class="tab-content">
        <div id="tab0" class="tab-pane active"></div>
        <div id="tab1" class="tab-pane">
    </div>
    </div>
</div>
