@( courseMaterial : CourseMaterial, scheduleList : List[Schedule] )
@if( courseMaterial != null ){
    <div class="loginForm">
        <form action="@routes.UpdateForm.updateCourseMaterial(courseMaterial.id)" method="POST" onsubmit="return allForms(this)">
            <div class="box box-info">
                <div class="box-header text-left resp-width">
                    <i class="fa fa-envelope"></i>

                    <h3 class="box-title">Update Campus</h3>
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <select class="form-control" title="Choose schedule" id="schedule" name="scheduleId">
                            <option value="@courseMaterial.schedule.id">@courseMaterial.schedule.training.print()</option>
                            @for(c <- scheduleList){
                                <option value="@c.id">@c.print()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <p>Material name</p>
                        <input type="text" class="form-control" name="name" autocomplete="off" placeholder="Update Bank acronym" value="@courseMaterial.name"/>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-default">Update materials
                        <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </form>
    </div>


}