@( year : AcademicYear )

@if( year != null ) {

  <div class="loginForm">
    <form action="@routes.UpdateForm.updateYear(year.id)" class="validate-form" method="POST" onsubmit="return allForms(this)">
      <div class="box box-info">
        <div class="box-header text-left resp-width">
          <i class="fa fa-envelope"></i>

          <h3 class="box-title">Update year</h3>
        </div>
        <div class="box-body">
        <div class="form-group has-feedback">
          <p>Name of year</p>
        <input type="text" class="form-control" name="yearName" autocomplete="off"  placeholder="Update Name Of year" value="@year.yearName" required/>
      </div>
          </div>
          <div class="box-footer clearfix">
            <button type="submit" class="pull-right btn btn-default">Update
              <i class="fa fa-arrow-circle-right"></i></button>
          </div>
        </div>
    </form>
  </div>


}


  <script >
        $('.validate-form').parsley();
</script>