@(sMode: SessionMode , sessions : List[models.Session],modes : List[StudyMode])
<div class="loginForm" id="form1" no-prop="true">
    <div class="box box-info">
        <div class="box-header text-left resp-width">
            <i class="fa fa-envelope"></i>

            <h3 class="box-title">Edit Assign session to study modes ...</h3>
        </div>
        <form action="@routes.UpdateForm.updateSessionMode(sMode.id)" method="POST" onsubmit="return allForms(this)">
            <div class="box-body">
                <div class="form-group has-feedback">
                    <select name="mySession" class="form-control">
                        <option value="">-- Choose Session --</option>
                        @for( ip <- sessions ){
                            <option value="@ip.id" @if(sMode.session.id.equals(ip.id)){selected}>@ip.sessionName</option>
                        }
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <select name="myMode" class="form-control">
                        <option value="">-- Choose study mode --</option>
                        @for( ip <- modes ){
                            <option value="@ip.id" @if(sMode.mode.id.equals(ip.id)){selected}>@ip.modeName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default">Update
                    <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </form>
    </div>
</div>