@(courseMaterials : List[CourseMaterial])
@import scala.Predef;var inc=1;
@main("Items report", "") {
    <section class="content-header">
        <h1>
            Course material
            <small>update form</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Course material</a></li>
            <li class="active">update form</li>
        </ol>
    </section>
    <div class="content" style="padding-left: 20px ">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-ilpd">
                    <div class="box-body">
                        <div class="panel-group" id="app-accordion">
                            <div class="row">
                                <table class="table table table-hover table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Component</th>
                                            <th>Training</th>
                                            <th>Download</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @for(m <- courseMaterials) {
                                        <tr>
                                            <td>@inc</td>
                                            <td>@m.name</td>
                                            <td>@m.schedule.component.compName</td>
                                            <td>@m.schedule.training.print()</td>
                                            <td>
                                                <a target="_blank" href="@routes.Application.updateAll(m.id,"downloadCourseMaterial")"
                                                class="btn btn-ilpd" title="Download">
                                                    <i class="fa fa-download"></i>
                                                    Download
                                                </a>
                                            </td>
                                            <td><button class="btn btn-info btn-sm btn-circle" onclick="createModal(this, self.event)" href="@routes.Application.updateAll(m.id, "updateMaterial")"><i class="fa fa-pencil"></i></button></td>
                                            <td>
                                                <button class="btn btn-danger btn-sm btn-circle"
                                                onclick="createDel(this)" value="@routes.Application.deleteAll(m.id,"courseMaterial")">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        @(inc = inc + 1)
                                    }
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}