
<div>
    <table class="table" style="border: none;">
        <thead>
            <tr>
                <td>
                    <span>
                        <i class="fa fa-circle"></i>
                        <i class="fa fa-circle" style="color: #E200E2;"></i>
                        <i class="fa fa-circle" style="color: #E200E2;"></i>
                    </span>
                </td>
                <td style="vertical-align: top">
                    <span>Institute of Legal Practice <br>
                        and Development
                    </span>
                </td>
                <td style="vertical-align: bottom">
                    <small>
                        <em class="text-left">Excellence in Legal Practice</em>
                    </small>
                </td>
                <td>
                    <img src="@routes.Assets.at("images/smLogo.png")"  alt="" class="img-responsive pull-right" style="width: 50px">
                </td>
            </tr>
        </thead>
    </table>
    <style>
        hr {
            border-width: 2px;
            border-color: #E200E2;
        }
    </style>
    <hr>
</div>