@(user: Users,schedules: List[Schedule],boolean: Boolean)
@import scala.Predef; var ab = 0;var a=0;
<div class="row shadinga">
    <div class="col-md-3">
        <a href="#" class="btn btn-default btn-block margin-bottom">Cordinator</a>

        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"><b>@user.names</b>  </h3>

                <div class="box-tools">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <script>
                    var a = I("#loadIt@boolean");
                    if( a ) a.click();
            </script>
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked">
                @for( i <- schedules ) {
                    <li><a href="@routes.Application.singleAssign(i.component.id,boolean)" class="fetch-students" @if(ab.equals(0)){id="loadIt@boolean"}><i class="fa fa-inbox"></i> @i.component.compName
                        <span class="label label-primary pull-right">@i.component.compAssignments(boolean).size()</span></a>
                    </li>
                    @( ab = ab + 1 )
                }
                </ul>
            </div>
                <!-- /.box-body -->
        </div>
            <!-- /. box -->

            <!-- /.box -->
    </div>
        <!-- /.col -->
    <div class="col-md-9">
        <ol class="breadcrumb breadOne">

        </ol>
        <div class="boxing shadow">

            <div class="box box-primary signup-data">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Asssignments</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" href="/lecture/search/student/" onkeyup="studentSearch(this,event)" placeholder="Search student" style="margin-top:-1.5px">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                        <!-- /.box-tools -->
                </div>
                    <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                            <!-- Check all button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                        </div>
                            <!-- /.btn-group -->

                            <!-- /.pull-right -->
                    </div>
                    <div class="table-responsive mailbox-messages heighted loading">


                    </div>
                        <!-- /.mail-box-messages -->
                </div>
                    <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div class="mailbox-controls">
                            <!-- Check all button -->
                            <!-- /.btn-group -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-pencil"></i></button>
                        </div>
                            <!-- /.pull-right -->
                    </div>
                </div>
            </div>
            <div class="box box-primary signup-data">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Students Submited</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search information" style="margin-top:-1.5px">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                        <!-- /.box-tools -->
                </div>
                    <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                            <!-- Check all butto
                                <!-- /.btn-group -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        </div>
                            <!-- /.btn-group -->
                    </div>
                        <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages heighted loading">


                </div>
                    <!-- /.mail-box-messages -->
            </div>
            <div class="box box-primary signup-data">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Module registration form</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search information" style="margin-top:-1.5px">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                        <!-- /.box-tools -->
                </div>
                    <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                            <!-- Check all butto
                                <!-- /.btn-group -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        </div>
                            <!-- /.btn-group -->
                    </div>
                        <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages heighted loading">


                </div>
                    <!-- /.mail-box-messages -->
            </div>
            <div class="box box-primary signup-data">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-users"></i> Module claiming</h3>

                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search information" style="margin-top:-1.5px">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div>
                        <!-- /.box-tools -->
                </div>
                    <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div class="mailbox-controls">
                            <!-- Check all butto
                                <!-- /.btn-group -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        </div>
                            <!-- /.btn-group -->
                    </div>
                        <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages heighted loading">


                </div>
                    <!-- /.mail-box-messages -->
            </div>
                <!-- /.box-body -->


                <!-- /.btn-group -->

                <!-- /.col -->
        </div>

            <!-- /. box -->
    </div>
        <!-- /.col -->
</div>