@(movements:List[models.stock.StockMovement],employees:List[Employee],locations:List[models.stock.Location],items:List[models.stock.Item])

<div align="right" class="left-form">
    <button id="meBut" class="btn btn-ilpd" onclick="addNew(this, event)">
        <i class="fa fa-plus"></i>
        Add existing asset
    </button>
    <div class="loginForm" id="form1" no-prop="true">
        <div class="box box-ilpd">
            <div class="box-header with-border text-left resp-width">
                <i class="fa fa-plus"></i>
                <h3 class="box-title">Ann new existing asset</h3>
            </div>
            <form action="@routes.StockTabsController.saveExistingAssest()" method="POST" onsubmit="return allForms(this)">
                <div class="box-body text-left">
                    <label for="">Search and select item</label>
                    <div class="form-group">
                        <select style="width: 100% !important;" name="item" class="form-control select2">
                            <option value="">--Select item name--</option>
                            @for(ix <- items) {
                                <option value="@ix.id">@ix.name - @ix.category.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <select style="width: 100% !important;" name="employee" class="form-control select2">
                            <option value="">-- Choose employee (Responsible) --</option>
                            @for( emp <- employees ){
                                <option value="@emp.id">@emp.print()</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <select name="location" class="form-control">
                            <option value="">-- Choose location --</option>
                            @for( emp <- locations ){
                                <option value="@emp.id">@emp.toString</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="number" class="form-control" name="confirmedQty" placeholder="Item's quantity">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="number" class="form-control" name="unitPrice" placeholder="Item's unit price">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="tagNumber" placeholder="Item's Tag number">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="serialNumber" placeholder="Item's Serial number">
                    </div>
                    <div class="form-group has-feedback">
                        <input type="number" min="0" class="form-control" name="depleciationYear" required placeholder="Depleciation year">
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-ilpd">Save changes
                        <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-ilpd">
            <div class="box-header with-border">
                <h3 class="box-title">Stock history</h3>
            </div>
                <!-- /.box-header -->
            <div class="box-body">
                <table class="table  table-striped table-bordered manageTable">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Item</th>
                            <th>Qty</th>
                            <th>Unit cost</th>
                            <th>Total cost</th>
                            <th>Depl. year</th>
                            <th>Tag number</th>
                            <th>Location</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for(m <- movements) {
                        @if(m.location!=null){
                            <tr>
                                <td>@m.date.format("dd/MM/yyyy")</td>
                                <td>@m.item.name</td>
                                <td>
                                @if(m.confirmedQty > 0) {
                                    @m.confirmedQty
                                }else{
                                0
                                }
                                </td>
                                @if(m.unitPrice != null) {
                                    <td>@Counts.formatAmount(m.unitPrice)</td>
                                }else{
                                    <td><span class="label label-danger"> No price set</span></td>
                                }
                                @if(m.unitPrice != null && m.confirmedQty >= 0) {
                                    <td>@(Counts.formatAmount(m.confirmedQty * m.unitPrice))</td>
                                }else{
                                    <td><span class="label label-danger"> No price set</span></td>
                                }
                                <td>@m.depleciationYear</td>
                                <td>@m.tagNumber</td>
                                <td>@m.location</td>
                                <td>
                                    <button href="@routes.Application.updateAll(m.id,"updateStockHistory")" onclick="createModal(this, self.event)" class="btn btn-link " title="Edit this record">
                                        <i class="ion-compose"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script>
         $('.manageTable').DataTable();
</script>

<script>
        $(function () {
            $('.select2').select2()
        })
</script>
