@(stocks: List[models.stock.Supplied], items : List[models.stock.Item] , suppliers : List[models.stock.Supplier] )
<div align="right" class="left-form">
    <button id="meBut" class="btn btn-ilpd" onclick="addNew(this, event)">
        <i class="fa fa-plus"></i>
        Add new
    </button>
    <div class="loginForm" id="form1" no-prop="true">
        <div class="box box-ilpd">
            <div class="box-header with-border text-left resp-width">
                <i class="fa fa-plus"></i>
                <h3 class="box-title">New item quantity in stock</h3>
            </div>
            <form action="@routes.StockTabsController.saveSupplied()" method="POST" onsubmit="return allForms(this)" >
                <div class="box-body text-left">
                    <label for="">Search and select item</label>
                    <div class="form-group">
                        <select style="width: 100% !important;" name="itemID" class="form-control select2">
                            <option value="">--Select item name--</option>
                            @for(ix <- items) {
                                <option value="@ix.id">@ix.name - @ix.category.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <select style="width: 100% !important;" name="supplierID" class="form-control select2">
                            <option value="">-- Choose supplier --</option>
                            @for( supplier <- suppliers ){
                                <option value="@supplier.id">@supplier.name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="name">Supplied quantity</label>
                        <input type="number" value="1" class="form-control" id="name" number="true" name="suppliedQty" placeholder="Quantity items">
                    </div>
                    <div class="form-group relative">
                        <label for="acronym">Unit price</label>
                        <input type="text" class="form-control" id="acronym" number="true" name="unitPrice" placeholder="Unit price">
                    </div>
                    <div class="form-group relative">
                        <label for="acronym">Aquisition date</label>
                        <input type="date" class="form-control datepicker" id="aquistionDate" name="aquistionDate" placeholder="Aquisition date">
                    </div>
                    <div class="form-group relative">
                        <label for="acronym">Expiration date</label>
                        <input type="date" class="form-control datepicker" id="expirationDate" name="expirationDate" placeholder="Expiration date">
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-ilpd">Save changes
                        <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-ilpd">
            <div class="box-header with-border">
                <h3 class="box-title">Stock in</h3>
            </div>
                <!-- /.box-header -->
            <div class="box-body">
                <div class="">
                    <table class="table table table-bordered table-hover table-striped table-condensed manageTable">
                        <thead>
                            <tr>
                                <th>Aquisition date</th>
                                <th>Expiration date</th>
                                <th>Item</th>
                                <th>Supplier</th>
                                <th>Unit price</th>
                                <th>Supplied Qty</th>
                                <th>Total price</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(s <- stocks) {
                            <tr>
                                <td>
                                @if(s.aquistionDate != null) {
                                    @s.aquistionDate.format("dd/MM/yyyy")
                                }else{
                                    @s.date.format("dd/MM/yyyy")
                                }
                                </td>
                                <td>
                                @if(s.expirationDate != null) {
                                    @s.expirationDate.format("dd/MM/yyyy")
                                }else{

                                }
                                </td>
                                <td>@s.item.name</td>
                                <td>@s.supplier.name</td>
                                <td>@Counts.formatAmount(s.unitPrice)</td>
                                <td>
                                @if(s.suppliedQty >= 0) {
                                    @s.suppliedQty
                                }else{
                                0
                                }
                                </td>
                                <td>@Counts.formatAmount(s.unitPrice * s.suppliedQty)</td>
                                <td>
                                    <button href="@routes.Application.updateAll(s.id,"editSupp")" onclick="createModal(this, self.event)" class="btn btn-link " title="Edit this record">
                                        <i class="ion-compose"></i>
                                    </button>
                                    <button onclick="createDel(this)" value="@routes.Application.deleteAll(s.id,"deleteItem")" class="btn btn-link text-red" title="Delete this record">
                                        <i class="ion-android-delete"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
        $('.manageTable').DataTable();
</script>
<script>
        $(function () {
            $('.select2').select2()
        })
</script>
