@(item : models.stock.Item)
@import models.stock.Supplier
<div class="loginForm" id="form1" no-prop="true">
    <div class="box box-ilpd">
        <div class="box-header with-border text-left resp-width">
            <i class="ion-compose"></i>
            <h3 class="box-title">Add item quantity</h3>
        </div>
        <form action="@routes.StockTabsController.saveSupplied()" method="POST" onsubmit="return allForms(this)" >
            <div class="box-body text-left">
                <input type="hidden" name="itemID" value="@item.id">
                <input type="hidden" name="supplierID" value="@Supplier.finder.where().eq("name","Harmonization").findUnique().id">
                <div class="form-group has-feedback">
                    <label for="name">Additional quantity</label>
                    <input type="number" value="1" class="form-control" id="name" number="true" name="suppliedQty" placeholder="Quantity items">
                </div>
            </div>
            <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-ilpd"> Add quantity
                    <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </form>
    </div>
</div>
