@( list : List[SubMark] , student: Student, module: Module, training: Training)
@import scala.Predef; var catMarks=0.0;var reMarks=0.0;var tot2s = 0.0; var tot3s = 0.0; var inc = 1;var incs = 1;var averageOneMarks = 0.0;  var ass = 0.0;var ress = 0.0;var Examss = 0.0;var Exams = 0.0; var examMarks=0.0;var tot1 = 0.0;var tot2 = 0.0;var tot3 = 0.0;
<div style="margin-bottom: 100px; padding-left: 1%;">
    <style>
            @@media print {
            .hidden-print {
                display: none !important;
            }
            }
    </style>
    <h4>&nbsp; @module.moduleName</h4>
    <a href="@routes.Reports.getStudentComponentsMarks(module.id, student.id, training.id)" class="btn btn-ilpd btn-flat box-shadow-normal pull-right" target="_blank">Print marks</a>
        <i class="fa fa-print"></i> Print
    </a>
    @if(!student.inResit) {
            <table class="table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp#</th>
                    <th>Component</th>
                    <th>CAT / @module.catMax</th>
                    <th>Re-Exs  / @module.reMax</th>
                    <th>EXAM / @module.examMax</th>
                    <th class="hidden-print">Claim</th>
                </tr>
            </thead>
            <tbody>
                @for(s <- list) {
                    @(averageOneMarks = s.component.module.allModuleAverage(student.id))
                        <tr @if(averageOneMarks < ProfileInfo.unique().scoreThree) {
                            style="color: red !important;" }>
                            <td>&nbsp;@inc </td>
                            <td>@s.component.compName </td>
                            <td>
                            @if(AssignmentResult.numberAssignmentDoneComponent(student.id, s.component.id, training.id) > 0.0) {
                                @Student.rounding(Counts.getStudentCatMarksComponent(student.id, s.component.id))
                            } else {
                                N/A
                            }
                            </td>
                            @if(AssignmentResult.numberResearchDoneComp(student.id, s.component.id, training.id) > 0) {
                                <td>@Student.rounding(Counts.getStudentResearchMarks(student.id, s.component.id))</td>
                            } else {
                                <td>N/A</td>
                            }
                            @if(Counts.getExamMaxTrainingComponent(student.training.id, s.component.id) > 0) {
                                @(Exams = Exams + 1)
                                <td>@Student.rounding(SubMark.componetExamResult(student.id, s.component.id))</td>
                            } else {
                                <td>N/A</td>
                            }
                            @if(averageOneMarks < ProfileInfo.unique().scoreThree) {
                                <td class="hidden-print"><button class="btn btn-info btn-sm btn-circle" href="@routes.Application.updateAll(s.id, "claim-marks")" onclick="return createModal(this, self.event);"><i class="fa fa-plus-circle"></i></button></td>
                            } else {
                                <td>
                                    <span class="label bg-green">Passed!</span>
                                </td>
                            }
                        </tr>
                        @(tot1 = tot1 + Counts.getStudentCatMarksComponent(student.id, s.component.id))
                        @if(AssignmentResult.numberResearchDone(student.id, s.component.module.id, training.id) > 0) {
                            @(tot2 = tot2 + (Counts.getStudentResearchMarks(student.id, s.component.id) / AssignmentResult.numberResearchDone(student.id, s.component.module.id, training.id)))
                        } else {
                            @(tot2 = tot2)
                        }
                        @(tot3 = tot3 + SubMark.componetExamResult(student.id, s.component.id))
                        @(inc = inc + 1)
                        @(ass = AssignmentResult.numberAssignmentDone(student.id, s.component.module.id, training.id))
                        @(ress = AssignmentResult.numberResearchDone(student.id, s.component.module.id, training.id))
                    }
                 <tfooter>
                        @if(inc > 1) {
                            <tr>
                                <td colspan="2">Total</td>
                                    <td>
                                    @if(ass >= 0.0) {
                                        @Student.rounding(tot1/(inc -1 ))
                                    } else {
                                        N/A
                                    }</td>
                                @if(ress <= 0.0) {
                                    <td>N/A</td>
                                } else {
                                    <td>@Student.rounding(tot2)</td>
                                }
                                @if(Exams > 0.0) {
                                    <td>@Student.rounding(tot3 / Exams) </td>
                                } else {
                                    <td>N/A</td>
                                }
                                <td>
                                    @Student.rounding((tot1/(inc -1 )) + tot2 + (tot3 / Exams))
                                </td>
                            </tr>
                        }
                        </tfooter>
            </tbody>
        </table>
    }else{
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>&nbsp#</th>
                    <th>Component</th>
                    <th>Re-Ex  / @module.reMax</th>
                    <th>EXAM / @module.minMarks</th>
                    <th class="hidden-print">Claim</th>
                </tr>
            </thead>
            <tbody>
                @for(s <- list) {
                @(averageOneMarks = s.component.module.alllyModuleAverageResit(student.id))
                <tr @if(averageOneMarks < ProfileInfo.unique().scoreThree) { style="color: red !important;" }>
                    <td>&nbsp;@incs </td>
                    <td>@s.component.compName </td>
                    @if(AssignmentResult.numberResearchDoneCompResearch(student.id, s.component.id, training.id) > 0) {
                        <td>@Student.rounding(Counts.getStudentResearchMarksResearch(student.id, s.component.id))</td>
                    } else {
                        <td>N/A</td>
                    }
                    <td>@Student.rounding(SubMark.componetExamResultResearch(student.id, s.component.id))</td>
                    @if(averageOneMarks < ProfileInfo.unique().scoreThree) {
                        <td class="hidden-print"><button class="btn btn-info btn-sm btn-circle" href="@routes.Application.updateAll(s.id, "claim-marks")" onclick="return createModal(this, self.event);"><i class="fa fa-plus-circle"></i></button></td>
                    } else {
                        <td>
                            <span class="label bg-green">Passed!</span>
                        </td>
                    }
                </tr>
                @(tot1 = Counts.getStudentCatMarks(student.id, s.component.module.id))
                @if(AssignmentResult.numberResearchDoneResit(student.id, s.component.module.id, training.id) > 0) {
                    @(tot2s = tot2s + (Counts.getStudentResearchMarksResearch(student.id, s.component.id) / AssignmentResult.numberResearchDoneResit(student.id, s.component.module.id, training.id)))
                } else {
                    @(tot2s = tot2)
                }
                @(incs = incs + 1)
                @(tot3s = tot3s + SubMark.componetExamResultResearch(student.id, s.component.id))
                @(ress = AssignmentResult.numberResearchDoneResit(student.id, s.component.module.id, training.id))
            }
            @if(incs > 1) {
                <tr>
                    <td colspan="2">Total</td>
                    @if(ress <= 0.0) {
                        <td>N/A</td>
                    } else {
                        <td>@Student.rounding(tot2s)</td>
                    }
                    <td>@Student.rounding(tot3s/(incs - 1))</td>
                    @if(tot3s < ProfileInfo.unique().maximumResit) {
                    <td style="color: #9c079c !important;">@Student.rounding(tot2s + (tot3s/(incs - 1))) </td>
                    }else{
                        <td style="color: #9c079c !important;">@Student.rounding(60) %</td>
                    }
                </tr>
            }
            </tbody>
        </table>
    }
</div>
