@(modules : List[Module],training : Training, student : Student)
@import scala.Predef;var a = 0; var averageOneMarks = 0.0
<div class="shadinga">
    <ol class="breadcrumb breadOne">
    </ol>
    <div class="col-md-3">
        <a href="#" class="mod-click btn btn-primary btn-block margin-bottom"><i class="fa fa-book"></i> View results per module</a>
        <div class="box box-solid parent">
            <div class="box-body no-padding">
                <ul class="nav nav-pills nav-stacked compList">
                        @for(m <- modules) {
                            @(averageOneMarks = m.allModuleAverage(student.id))
                            <li @if(a.equals(0)) { class="active clicking"}>
                                <a class="fetch-students cls" href="@routes.Application.componentsStudent(m.id, student.id, training.id)">
                                    <i class="fa fa-inbox"></i>
                                    @if(averageOneMarks < ProfileInfo.unique().scoreThree){
                                        <span style="color: red">@m.moduleName</span>
                                    }else{
                                        @m.moduleName
                                    }
                                    <span class="label label-primary pull-right">@Counts.countComponentsPerModule(m.id, student.id)</span></a>
                            </li>
                            @(a = a + 1)
                    }
                </ul>

                <script>
                        $(".clicking").find("a").click();
                </script>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="boxing shadow">
            @if(Counts.getModulesList(training).size!=0){
                <div class="box box-primary signup-data">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-book"></i> All components marks results</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" href="/lecture/search/student/" placeholder="Search Component" style="margin-top:-1.5px">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages heighted loading">


                        </div>
                    </div>
                </div>
                <div class="box box-primary signup-data">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-users"></i> Students Lists
                        </h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" class="form-control input-sm" href="/lecture/search/student/" onkeyup="studentSearch(this,event)" placeholder="Search student" style="margin-top:-1.5px">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages heighted loading">

                        </div>
                    </div>
                </div>
            }else{
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            <i class="fa fa-users"></i> Students List
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="alert alert-info">
                            Instructor is not yet assigned modules to manage. <br> <br>
                            Students here appear according to instructor's assigned modules.
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
