@(training : Training, list : List[Student] , module : Module)
@import scala.Predef;var catMarks=0.0;var resitExamMarks=0.0;var reMarks=0.0;var examMarks=0.0;var inc=1;var tot1 = 0.0;var tot2 = 0.0;var tot3 = 0.0;var tot4 = 0.0; var sName = ""; var x = 0;var p = 0;var xp = 0;var m=0; var percentMarks =0.0
@main("","") {
    <div style="margin-bottom: 100px; padding-left: 1%; margin-left: 7%;">

        <div class="row container">
            <div class="row">
                <div class="row no-print">
                    <div class="col-xs-12">
                        <div class="col-xs-12">
                            @shared.printButton.render()
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                @shared.ildpHeader.render()
                </div>
                <h4><center>&nbsp; MODULE MARKS RESULTS</center></h4>
                <h4><center>&nbsp; MODULE NAME: @module.moduleName.toUpperCase</center></h4>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-blue">
                        Students module marks report  <small class="pull-right">Date: @(new Date().format("dd-MM-yyyy"))</small></h4>
                    <table class="table  table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Student name</th>
                            <th>CAT / @module.catMax</th>
                            <th>Re-Ex / @module.reMax</th>
                            <th>EXAM / @module.examMax</th>
                            <th>TOTAL/ @(module.catMax + module.reMax + module.examMax)</th>
                        </tr>
                    </thead>
                    <tbody>
                    @for( s <- list ){
                        @(catMarks=(Counts.getStudentCatMarksModule(s.id, module.id)))
                        @(reMarks=Counts.getStudentResearchMarksModule(s.id,module.id))
                        @(examMarks=SubMark.componetExamResultModule(s.id, module.id, s.training.id))
                        @(resitExamMarks=SubMark.reSitExamResultModule(s.id, module.id))
                        <tr>
                            <td>&nbsp;@inc</td>
                            <td>@s.toString2()</td>
                            <td>
                            @if(SubMark.byDualInResitModule(s.id, module.id) == null && AssignmentResult.numberAssignmentDone(s.id, module.id, s.training.id) > 0.0) {
                                @(Student.rounding(catMarks))
                            }else{
                                N/A
                            }
                            </td>
                            @if(SubMark.byDualInResitModule(s.id, module.id) == null && AssignmentResult.numberResearchDone(s.id, module.id, s.training.id) > 0) {
                                <td>@(Student.rounding(reMarks))</td>
                            }else{
                                <td>N/A</td>
                            }
                            @if(resitExamMarks <= 0.0){
                            @if(SubMark.byDualInResitModule(s.id, module.id) == null && Counts.getExamMaxTrainingModule(s.training.id,module.id) > 0){
                                <td>@(Student.rounding(examMarks))</td>
                            }else{
                                <td>N/A</td>
                            }}else{
                                @if(SubMark.byDualInResitModule(s.id, module.id) == null && Counts.getExamMaxTrainingModule(s.training.id,module.id) > 0){
                                    <td>@(Student.rounding(resitExamMarks))</td>
                                }else{
                                    <td>N/A</td>

                            }
                                @if(resitExamMarks <= 0.0) {
                                    <td>
                                        @if(SubMark.byDualInResitModule(s.id, module.id) != null) {
                                            <span style="color: #9c079c !important;">
                                            @if(((examMarks * 100) / module.examMax) < ProfileInfo.unique().scoreThree) {
                                                @Student.rounding((examMarks * 100) / module.examMax)
                                            } else {
                                                @Student.rounding(ProfileInfo.unique().scoreThree)
                                            }</span>
                                        }
                                        @if(AssignmentResult.numberAssignmentDone(s.id, module.id, s.training.id) <= 0.0 && AssignmentResult.numberResearchDone(s.id, module.id, s.training.id) <= 0.0 && Counts.getExamMaxTrainingModule(s.training.id, module.id) <= 0.0) {
                                            N/A
                                        } else {
                                            @(inc = inc + 1)
                                        }
                                    </td>
                                }else{
                                    <td>
                                        @if(SubMark.byDualInResitModule(s.id, module.id) != null) {
                                            <span style="color: #9c079c !important;">
                                            @if(((resitExamMarks * 100) / module.examMax) < ProfileInfo.unique().scoreThree) {
                                                @Student.rounding((resitExamMarks * 100) / module.examMax)
                                            } else {
                                                @Student.rounding(ProfileInfo.unique().scoreThree)
                                            }</span>
                                        }
                                        @if(AssignmentResult.numberAssignmentDone(s.id, module.id, s.training.id) <= 0.0 && AssignmentResult.numberResearchDone(s.id, module.id, s.training.id) <= 0.0 && Counts.getExamMaxTrainingModule(s.training.id, module.id) <= 0.0) {
                                            N/A
                                        } else {
                                            @(inc = inc + 1)
                                        }
                                    </td>
                                }
                            }
                        </tr>
                        @(inc = inc + 1)
                    }
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
}