@( list : List[Student] , gr : Groups )
<table class="table table-hover table-striped mid-v">
  <tbody>

    @for( i <- list ){

      <tr>
        <td><label class="check-container">
          <input type="checkbox" value="@i.id" name="students" onchange="hoss.pushAt(this)">
          <span class="checkmark"></span>
        </label></td>
        <td><div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div></td>
        <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
        <td><div class="round-image sm-round"><img src="@routes.Assets.at("uploads/"+i.applicant.profile)" alt=""></div></td>
        <td class="mailbox-name"><a href="#"> @i.firstName @i.familyName </a></td>
        <td class="mailbox-subject"><b>@i.regNo</b></td>

        <td class="mailbox-attachment"></td>
        <td class="mailbox-date"><span class="label label-primary pull-right">@i.status</span></td>
      </tr>

    }




  </tbody>
</table>