@(students:List[AssignmentResult],assignment: Assignment)
@import scala.Predef;var inc=1;
@main("Students",""){
    <!-- Main content -->
    <div style="padding-left: 20px ">
        <div class="invoice">
            <div class="row">
                <div class="col-xs-12">
                    <div style="border-bottom: 1px solid silver;margin-bottom: 10px;">
                        <table class="table" style="border: none;">
                            <thead>
                                <tr>
                                    <td style="border-right: 2px solid #E200E2;vertical-align: middle">
                                        <span>
                                            <i class="fa fa-circle"></i>
                                            <i class="fa fa-circle" style="color: #E200E2;"></i>
                                            <i class="fa fa-circle" style="color: #E200E2;"></i>
                                        </span>
                                    </td>
                                    <td style="vertical-align: top">
                                        <span>
                                            Institute of Legal Practice <br>
                                            and Development
                                        </span>
                                    </td>
                                    <td style="vertical-align: bottom">
                                        <small>
                                            <em class="text-left">Excellence in Legal Practice</em>
                                        </small>
                                    </td>
                                    <td>
                                        <img src="@routes.Assets.at("images/smLogo.png")"  alt="" class="img-responsive pull-right" style="width: 50px">
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h4 class="text-blue">
                        Student assignment result and claim; assignment of @assignment.assignmentTitle
                        <small class="pull-right">Date: @(new Date().format("dd-MM-yyyy"))</small></h4>
                    <table class="table  table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Reg.number</th>
                                <th>Result given</th>
                                <th>Claim result</th>
                                <th>Approve claim</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(s <- students) {
                            <tr>
                                <td>@inc</td>
                                <td>@s.student.regNo</td>
                                <td>@s.result/ @s.assignment.max </td>
                                <td>@s.cliamResult/ @s.assignment.max</td>
                                <td><button class="btn btn-info btn-sm btn-circle" href="@routes.Application.updateAll(s.id,"claim-marks-ass-appr")" onclick="return createModal(this , self.event);"><i class="fa fa-plus-circle"></i></button></td>

                            </tr>
                            @(inc=inc+1)
                        }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h6 class="text-red">
                        <i class="fa fa-info-circle"></i>
                        <center>This report has generated by ILPD MIS, there is no need of stamp or signature</center>
                    </h6>
                </div>
                <div class="col-xs-12">
                    <p class="main-footer text-center">
                        <small>P.O. Box 49, Avenue des Sports, Nyanza, Southern Province, Rwanda
                            <br>
                            E: info@@ilpd.ac.rw / W: www.ilpd.ac.rw</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
}