@( cle : Boolean )

@main("Application report", "") {
    <section class="content-header">
        <h1>
            Application
            <small>reports</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Reports</a></li>
            <li class="active">Application reports</li>
        </ol>
    </section>

        <!-- Main content -->
    <div class="content" style="padding-left: 20px ">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h2 class="box-title text-success">
                            <i class="fa fa-info"></i> XApplication report.
                            <small>
                                This page has been enhanced for printing. Click on the links below to print the below content in new tab.</small>
                        </h2>
                    </div>
                <div class="box-body">
                        <div class="panel-group" id="app-accordion">
                                <div class="row">
                    <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appCampus">
                                            Campus <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appCampus" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.byCampus("campus")" method="post">

                                            <div class="form-group">
                                                <select name="campusId" id="campus" class="form-control" required>
                                                    <option value="">--Select Campus--</option>
                                                    <option value="0">All</option>
                                                    @for(c : Campus <- Campus.all()) {
                                                            <option value="@c.id">@c.campusName</option>
                                                    }
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-print"></i> Generate report
                                            </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appProgram">
                                            Program <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appProgram" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.byCampus("program")" method="post">
                                                <div class="form-group">
                                                    <select title="" name="programId" id="campus" class="form-control" required>
                                                        <option value="">--Select Campus--</option>
                                                        <option value="0">All</option>
                                                        @for(c : Program <- Program.all(cle)) {
                                                            <option value="@c.id">@c.print()</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appStatus">
                                            Applicant by status and intake <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appStatus" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.byCampus("status")" method="post">
                                                <div class="form-group">
                                                    <select name="apStatus" id="campus" class="form-control" required>
                                                        <option value="all">--All status--</option>
                                                            <option value="accepted"> Accepted</option>
                                                            <option value="derefered"> Derefered</option>
                                                            <option value="rejected"> Rejected</option>
                                                            <option value="student"> Student</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="intakeId" class="form-control" required>
                                                        <option value="0">--All intakes--</option>
                                                        @for(i : Intake <- Intake.all()) {
                                                            <option value="@i.id"><b>*</b> @i.print()
                                                                }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appStatusIntake">
                                           Intake + Status <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appStatusIntake" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.byCampus("statusIntake")" method="post">
                                                <div class="form-group">
                                                    <select name="apStatus" id="campus" class="form-control" required>
                                                        <option value="">--Select status--</option>
                                                        <option value="all">All</option>
                                                            <option value="accepted"> Accepted</option>
                                                            <option value="derefered"> Derefered</option>
                                                            <option value="rejected"> Rejected</option>
                                                            <option value="student"> Student</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="intakeId" id="intakeId" class="form-control" required>
                                                        <option value="">--Select intake--</option>
                                                        <option value="0">All</option>
                                                        @for(intake : Intake <- Intake.all() ){
                                                            <option value="@intake.id">@intake.print()  </option>
                                                    }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appIntake">
                                            Intake <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appIntake" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.getApplicantsByIntake()" method="post">
                                                <div class="form-group">
                                                    <select name="intakeId" id="campus" class="form-control" required>
                                                        <option value="">--Select intake--</option>
                                                        <option value="0">All</option>
                                                        @for(c : Intake <- Intake.all()) {
                                                            <option value="@c.id">@c.print()</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appStudyMode">
                                            Study Mode <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appStudyMode" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.getApplicantsByStudyMode()" method="post">
                                                <div class="form-group">
                                                    <select name="modeId" id="campus" class="form-control" required>
                                                        <option value="">--Select study mode--</option>
                                                        <option value="0">All</option>
                                                        @for(c <- StudyMode.all()) {
                                                            <option value="@c.id">@c.modeName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appcollapse3">
                                            Intake + Study mode <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appcollapse3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.getApplicantsByStudyModeIntake()" method="post">
                                                <div class="form-group">
                                                    <select name="intakeId" id="campus" class="form-control" required>
                                                        <option value="">--Select Intake--</option>
                                                        <option value="0">All</option>
                                                        @for(i <- Intake.all()) {
                                                            <option value="@i.id"><b>*</b> @i.intakeName @if(i.year != null) {
                                                                @i.year.yearName
                                                            }
                                                                }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="modeId" id="campus" class="form-control" required>
                                                        <option value="">--Select study mode--</option>
                                                        <option value="0">All</option>
                                                            @for(c <- StudyMode.all()) {
                                                                <option value="@c.id">@c.modeName</option>
                                                            }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appcollapse4">
                                            Intake + Program <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appcollapse4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.getApplicantsByProgramIntake()" method="post">
                                                <div class="form-group">
                                                    <select name="intakeId" id="campus" class="form-control" required>
                                                        <option value="">--Select Intake--</option>
                                                        <option value="0">All</option>
                                                        @for(i : Intake <- Intake.all()) {
                                                            <option value="@i.id"><b>*</b> @i.print()</option>
                                                                }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="programId" id="campus" class="form-control" required>
                                                        <option value="">--Select Program--</option>
                                                        <option value="0">All</option>
                                                        @for(p : Program <- Program.all(cle)) {
                                                            <option value="@p.id">@p.programName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appImdePro">
                                            Program +intake +study mode <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appImdePro" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.programIntakeMode("app")" method="post">
                                                <div class="form-group">
                                                    <select name="programId" id="campus" class="form-control" required>
                                                        <option value="">--Select Program--</option>
                                                        @for(p : Program <- Program.all(cle)) {
                                                            <option value="@p.id">@p.programName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="intakeId" id="campus" class="form-control" required>
                                                        <option value="">--Select Intake--</option>
                                                        @for(i : Intake <- Intake.all()) {
                                                            <option value="@i.id"><b>*</b> @i.print()
                                                                }
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <select name="modeId" id="campus" class="form-control" required>
                                                        <option value="">--Select study mode--</option>
                                                        @for(c : StudyMode <- StudyMode.all() ) {
                                                            <option value="@c.id">@c.modeName</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appcollapse5">
                                            Gender <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appcollapse5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <p> <a href="@routes.Reports.getApplicantsByGender("male")" target="_blank" class="text-sm">
                                                    Male</a></p>
                                            </div>
                                            <div class="col-sm-6">
                                                <p>
                                                    <a href="@routes.Reports.getApplicantsByGender("female")" class="text-sm" target="_blank">
                                                        Female</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appcollapse6">
                                            Nationalty <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appcollapse6" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <form class="form-inline" target="_blank" action="@routes.Reports.getApplicantByCountry()" method="post">
                                                <div class="form-group">
                                                    <select name="country" id="campus" class="form-control" required>
                                                        <option value="">--Select study mode--</option>
                                                        <option value="all">All</option>
                                                        @for(c <- Country.all()) {
                                                            <option value="@c.name">@c.name</option>
                                                        }
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appcollapse7">
                                            Martial status <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appcollapse7" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <p>
                                                    <a href="@routes.Reports.getApplicantsByMaritial("single ")" class="text-sm" target="_blank">
                                                        Single</a>
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>
                                                    <a href="@routes.Reports.getApplicantsByMaritial("married")" class="text-sm" target="_blank">
                                                        Married</a>
                                                </p>
                                            </div>
                                            <div class="col-sm-4">
                                                <p>
                                                    <a href="@routes.Reports.getApplicantsByMaritial("widow")" class="text-sm" target="_blank">
                                                        widow</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#app-accordion" href="#appcollapse77">
                                            Applicants report per university attended  <i class="fa fa-plus-circle pull-right"></i></a>
                                    </h4>
                                </div>
                                <div id="appcollapse77" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form class="form-inline" target="_blank" action="@routes.Reports.getApplicantByUniversity()" method="post">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                <select name="aSchool" class="form-control" required>
                                                    <option value="all">--Select university/college attended--</option>
                                                    @for(a : Applicant <- Applicant.universityCollegue()) {
                                                        @if(a.aSchool.size > 2) {
                                                            <option value="@a.aSchool">@a.aSchool</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-print"></i> Generate report
                                                </button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- /.content -->
    <div class="clearfix"></div>
}
