@( l1 : List[Student]  )
@import scala.Predef;var q = 0;


    <ul class="timeline">
    @for(ip <- l1 ) {
      <li>
        <span class="fa hideOver"><img src="@routes.Assets.at("uploads/" + ip.applicant.profile)"></span>
        <div class="timeline-item">
          <label class="time">@ip.regNo</label>
          <h3 class="timeline-header no-border"><a @if(q.equals(0)){class="auto-click"} href="@routes.Application.viewStudentDetails(ip.id,"under")" onclick="return manageView(this)">@ip.firstName @ip.familyName</a></h3>
        </div>
      </li>
      @( q = q + 1 )
    }
    </ul>
<script>
  var ip = I(".auto-click");
  if( ip ) manageView(ip);
</script>

