@(trainings : List[Training])
@main("Deliberation report", "") {
    <section class="content-header">
        <h1>
            Deliberation
            <small>report</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Reports</a></li>
            <li class="active">Deliberation reports</li>
        </ol>
    </section>
    <div class="content" style="padding-left: 20px ">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title text-success"><i class="fa fa-list-ul"></i> Deliberation report </h4>
                <small>
                    This page has been enhanced for printing. Click on the links below to print the below content in new tab.</small>
            </div>
            <div class="box-body">
                <div class="panel-group" id="attaccordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="btn-block" data-toggle="collapse" data-parent="#attaccordion" href="#attModule">
                                    Students graduation report per training/Class  <i class="fa fa-minus-circle pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="attModule" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="box-body">
                                    <form target="_blank" action="@routes.Reports.deliberationReport()" method="post" id="module_report_form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="campus-id">Choose training/Class</label>
                                                        <select style="width: 100% !important;" name="trainingId" class="form-control select2" required>
                                                        @for(tr : Training <- Training.all()) {
                                                            @if(tr.hasGraduatedFinal) {
                                                                <option value="@tr.id">@tr.print()</option>
                                                            }else{
                                                                No graduated training yet!!
                                                            }
                                                        }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="campus-id">Select decision</label>
                                                        <select style="width: 100% !important;" name="decision" class="form-control select2" required>
                                                            <option value="all">All decisions</option>
                                                            <option value="Distinction">Distinction</option>
                                                            <option value="Merit">Merit</option>
                                                            <option value="Satisfactory">Satisfactory</option>
                                                            <option value="Pass">Pass</option>
                                                            <option value="Graduants">Graduants</option>
                                                            <option value="RE-SIT">Re-sit</option>
                                                            <option value="RETAKE-MODULES">RETAKE-MODULES</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="campus-id">.</label>
                                                    <button type="submit" class="btn btn-primary center-block btn-block"><i class="ion-ios-printer-outline"></i>
                                                        Print report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="attaccordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="btn-block" data-toggle="collapse" data-parent="#attaccordion" href="#attModuleResit">
                                    Students resit marks report per training <i class="fa fa-minus-circle pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="attModuleResit" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="box-body">
                                    <form target="_blank" action="@routes.Reports.deliberationResitReport()" method="post" id="module_report_form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="campus-id">Choose training/Class</label>
                                                        <select style="width: 100% !important;" name="trainingId" class="form-control select2" required>
                                                        @for(tr : Training <- Training.all()) {
                                                            @if(tr.hasGraduatedFinal) {
                                                                <option value="@tr.id">@tr.print()</option>
                                                            }else{
                                                                No graduated training yet!!
                                                            }
                                                        }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="campus-id">Select marks type</label>
                                                        <select style="width: 100% !important;" name="status" class="form-control select2" required>
                                                            <option value="before">Marks before resit</option>
                                                            <option value="during">Resit real marks</option>
                                                            <option value="after">Marks after decision</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="campus-id">.</label>
                                                    <button type="submit" class="btn btn-primary center-block btn-block"><i class="ion-ios-printer-outline"></i>
                                                        Print report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="attaccordion1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="btn-block" data-toggle="collapse" data-parent="#attaccordion1" href="#attModule">
                                    Students re-sit request report per training/Class  <i class="fa fa-minus-circle pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="attModule" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="box-body">
                                    <form target="_blank" action="@routes.Reports.resitRequestReport()" method="post" id="module_report_form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="campus-id">Choose training/Class</label>
                                                        <select style="width: 100% !important;" name="trainingId" class="form-control select2" required>
                                                        @for(tr : Training <- Training.all()) {
                                                            @if(tr.hasGraduated) {
                                                                <option value="@tr.id">@tr.print()</option>
                                                            }else{
                                                                No graduated training yet!!
                                                            }
                                                        }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="campus-id">Select decision</label>
                                                        <select style="width: 100% !important;" name="decision" class="form-control select2" required>
                                                            <option value="all">All status</option>
                                                            <option value="approved">Approved re-sits </option>
                                                            <option value="rejected">Rejected re-sits </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="campus-id">.</label>
                                                    <button type="submit" class="btn btn-primary center-block btn-block"><i class="ion-ios-printer-outline"></i>
                                                        Print report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="attaccordion2">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="btn-block" data-toggle="collapse" data-parent="#attaccordion2" href="#attModule">
                                    Students retake-modules request report per training/Class  <i class="fa fa-minus-circle pull-right"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="attModule" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="box-body">
                                    <form target="_blank" action="@routes.Reports.retakeModulesRequestReport()" method="post" id="module_report_form">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-8">
                                                    <div class="form-group">
                                                        <label for="campus-id">Choose training/Class</label>
                                                        <select style="width: 100% !important;" name="trainingId" class="form-control select2" required>
                                                        @for(tr : Training <- Training.all()) {
                                                            @if(tr.hasGraduated) {
                                                                <option value="@tr.id">@tr.print()</option>
                                                            }else{
                                                                No graduated training yet!!
                                                            }
                                                        }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="campus-id">Select decision</label>
                                                        <select style="width: 100% !important;" name="decision" class="form-control select2" required>
                                                            <option value="all">All status</option>
                                                            <option value="approved">Approved retake-modules </option>
                                                            <option value="rejected">Rejected retake-modules </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for="campus-id">.</label>
                                                    <button type="submit" class="btn btn-primary center-block btn-block"><i class="ion-ios-printer-outline"></i>
                                                        Print report</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}

<script >
    $('.datepicker').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'dd-mm-yyyy'
    });
    $(function () {
        $(document).on('change', '#campus-id', function () {
            var self = $(this);
            $.ajax({
                url: '/report/campus/' + self.val() + "/",
                method: 'get',
                dataType: 'json'
            }).done(function (response) {
                var iMode = $('#iMode-id');
                iMode.html('');
                iMode.append($('<option>', {
                    value: '',
                    text: '--select--'
                }));
                iMode.append($('<option>', {
                    value: '0',
                    text: '-- All periods --'
                }));

                $.each(response, function (index, item) {

                    iMode.append($('<option>', {
                        value: item.id,
                        text: item.print
                    }));

                });
            })
        });

    });

    $("#module_report_form").parsley();

</script>

<script>
        $(function () {
            $('.select2').select2()
        })
</script>