@( ann : List[Announce], rolesList : List[Roles] )
@import scala.Predef; var x = 0;var p = 0;var xp = 0;var m=0;
<div align="right" class="left-form">
    <button id="meBut" class="btn btn-primary" onclick="addNew(this,event)"><i class="fa fa-plus"></i> New event</button>
    <div class="loginForm" id="form1" no-prop="true">
        <form action="@routes.Registration.saveAnnouncement()" method="POST">
            <div class="box box-info">
                <div class="box-header text-left resp-width with-border">
                    <i class="fa fa-plus-circle"></i>
                    <h3 class="box-title">Add new event</h3>
                </div>
                <script >
                        var birthPicker = new Pikaday({
                            field: document.getElementById('quickS'),
                            minDate: new Date(1680,12,31),
                            maxDate: new Date(2020, 12, 31),
                            formatStrict: true,
                            yearRange:200,
                            onSelect: function(e) {
                                startDate = this.getDate();
                            }
                        })
                </script>
                <div class="box-body">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" name="title" autocomplete="off"  id="MONOPOLYX_Text" placeholder="Enter event title"/>
                        <input type="hidden" value="event" name="category">
                    </div>
                    <div class="form-group has-feedback">
                        <textarea name="content" class="form-control" cols="30" rows="10" placeholder="Type event details" max="400000000"></textarea>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="pull-left">Publication date</label>
                        <input name="pubDate" class="form-control" placeholder="Choose event date" max="400000000" id="quickS">
                    </div>
                    <div class="form-group has-feedback text-left">
                        <label>Select a group of users to view announcement</label>
                        <div class="form-group has-feedback">
                            <table class="table table-hover table-striped">
                                <tr class="fetch-students">
                                    <td>
                                        <label class="check-container">
                                            <input type="checkbox" id="selectall"/>
                                            <span class="checkmark"></span>&nbsp;&nbsp;ALL USERS
                                        </label>
                                    </td>
                                </tr>

                                @for(i <- rolesList) {
                                    @if(i != null) {
                                        <tr class="fetch-students">
                                            <td>
                                                <label class="check-container">
                                                    <input type="checkbox" class="selectedId" value="@i.id" name="roleUserId"/>
                                                    <span class="checkmark"></span>&nbsp;&nbsp;@i.roleName.toUpperCase
                                                </label>
                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-default">Submit event
                        <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">Currently added events</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Announcement title</th>
                        <th>Announcement body</th>
                        <th>Attachment</th>
                        <th></th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

                @for(i <- ann ) {
                    <tr>
                        <td>@i.title</td>
                        <td>@i.content</td>
                        <td>
                            <button class="btn btn-info btn-sm btn-circle" onclick="createModal(this,self.event)" href="@routes.Application.updateAll(i.id, "viewImage")"><i class="fa fa-cloud-upload"></i></button>
                        </td>
                        <td>
                        @if(i.attachment != "" || i.attachment == null) {
                            <a title="Download" href="@routes.Application.downloadAnnounce(i.id)" data-id="@i.id" class="btn btn-default btn-flat"><i class="fa fa-download"></i>
                            </a>
                        }else{
                            No file
                        }
                        </td>
                        <td>
                            <button class="btn btn-info btn-sm btn-circle" onclick="createModal(this,self.event)" href="@routes.Application.updateAll(i.id,"ann")"><i class="fa fa-pencil"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm btn-circle" onclick="createDel(this)" value="@routes.Application.deleteAll(i.id,"ann")"><i class="fa fa-bitbucket"></i></button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>





<div class="col-md-6 col-centered">
<table class="ds_box" cellpadding="0" cellspacing="0" id="ds_conclass" style="display: inline-block;">
    <tr>
        <td id="ds_calclass"></td>
    </tr>
</table>
</div>
<script>
        $(document).ready(function () {
            $('#selectall').click(function () {
                $('.selectedId').prop('checked', this.checked);
            });

            $('.selectedId').change(function () {
                var check = ($('.selectedId').filter(":checked").length == $('.selectedId').length);
                $('#selectall').prop("checked", check);
            });
        });
</script>