@( training : Training )
@if( training != null ){
    <div class="loginForm">
        <form action="@routes.UpdateForm.allMarksEntered(training.id)"method="POST" onsubmit="return allForms(this)">
            <div class="box box-info">
                <div class="box-header text-left resp-width">
                    <i class="fa fa-envelope"></i>
                    <h3 class="box-title">Enable deliberation button</h3>
                </div>
                <div class="box-body">
                    <ul class="todo-list ui-sortable">
                        <li> <span class="text">Class Name: @training.print()</span>  </li>
                    </ul>
                    <ul class="todo-list ui-sortable">
                        <li style="color: red !important;"> <span class="text">Note: By confirming that all marks are entered, you will enable the deliberation button</span>  </li>
                    </ul>
                </div>
                <div class="box-footer clearfix">
                    <button type="submit" class="pull-right btn btn-default"> Confirm marks entrance
                        <i class="fa fa-arrow-circle-right"></i></button>
                </div>
            </div>
        </form>
    </div>
}else{
    <div>Error with reference</div>
}