<div class="list-headers">
    <span class="h-head"><span class="iconPanels first"></span>
        <a href="@routes.Application.resetFetch()">Change Username</a></span>
    <span class="h-head"><span class="iconPanels second"></span>
        <a> Change Phone Number & Email</a></span>
    <span class="h-head"><span class="iconPanels third"></span>
        <a>Reset Password</a></span>
    <span class="h-head"><span class="iconPanels fourth"></span>
        <a>Reset Password</a></span>
</div>

<div class="editing-panel" style="display: none">
    <div class="s"><input type="text"></div>
</div>