<div class="col-md-10 col-centered">

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title text-blue"><i class="fa fa-search"></i> Quick search</h3>
    </div>
      <!-- /.box-header -->
      <!-- form start -->
    <div class="col-md-12">
            <form role="form">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" placeholder="Search student by reg No" href="@routes.Application.searchStudent("")" oninput="return searchByNumber(this);">
      </div>
    </form>
        <div class="box-body heighted">
        </div>
    </div>
        <!-- /.box-body -->

      <div class="box-footer">

      </div>
  </div>


</div>