@(listStudent: List[Student])


<div class="table-responsive">
    <table class="table">
        @for(student <- listStudent) {
            <tr class="end-block">
                <td class="hidden-xs">
                    <div class="icheckbox_flat-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute;
                    opacity: 0;">
                    <ins class="iCheck-helper" style="position: absolute;
                        top: 0%;
                        left: 0%;
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin: 0px;
                        padding: 0px;
                        background: rgb(255, 255, 255);
                        border: 0px;
                        opacity: 0;">

                    </ins>
                </div>
                </td>
                <td class="mailbox-star hidden-xs">
                    <a href="#">
                    <i class="fa fa-circle"></i>
                    </a>
                </td>
                <td class="hidden-xs">
                    <div class="round-image sm-round">
                        <img src="@routes.Assets.at(Vld.imagePro(student.applicant.profile))" alt="">
                    </div>
                </td>
                <td class="mailbox-name"><a href="#"> @student.toString() </a></td>
                <td class="mailbox-subject"><b>@student.regNo </b></td>
                <td class="mailbox-subject"><b>[@student.applicant.country] </b></td>

                <td class="mailbox-attachment hidden-xs"></td>
                <td class="mailbox-date">
                @if( student.cleared() ){
                    <span class="label label-success pull-right"> Cleared </span>
                }else{
                    <span class="label label-warning pull-right"> Not yet cleared </span>
                }


                </td>
            </tr>
        }
    </table>
</div>
